<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <assembly name="TFSBlogRepository"/>
    <assembly name="Audit"/>
    <assembly name="SimpleAudit"/>
    <namespace name="TFSBlogRepository"/>
    <namespace name="Audit"/>
    <namespace name="SimpleAudit"/>
    <container>
      <register type="IBlogRepository" mapTo="BlogRepository">
        <constructor>
          <param name="connectionString" value="metadata=res://*/BlogModel.csdl|res://*/BlogModel.ssdl|res://*/BlogModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(localdb)\ProjectsV13;Initial Catalog=TFSBlog;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
        </constructor>
      </register>
      <register type="IAudit" mapTo="ConsoleAudit"/>
    </container>
  </unity>
  <connectionStrings>
    <add name="TFSBlogEntities" connectionString="metadata=res://*/BlogModel.csdl|res://*/BlogModel.ssdl|res://*/BlogModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(localdb)\ProjectsV13;Initial Catalog=TFSBlog;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <system.serviceModel>
    <services>
      <service name="TBlogService.BlogService" behaviorConfiguration="mex">
        <endpoint address="http://localhost:9000/TBlog" binding="basicHttpBinding" contract="TBlogService.IBlogService"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mex">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
