<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Game_Finder.Properties.Settings.jamesnordquistConnectionString"
            connectionString="Data Source=aura.cset.oit.edu,5433;Initial Catalog=jamesnordquist;User ID=jamesnordquist;Password=jamesnordquist"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>